html, body {
  margin: 0;
  padding-left: 16vw;
  background: lightblue;
  
}

canvas {
  display: block;
}


h1 {
  padding-left: 9vw;
  padding-right: 9vw;
  color: black;
  font-size: 40px;
  font-family: "Permanent Marker";
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


